In [1]:
import pandas as pd
import numpy as np

## íŒŒì¼ ë¡œë“œ

In [241]:
# ì—‘ì…€ íŒŒì¼ ì½ê¸°
df_raw = pd.read_excel("data/basic1.xlsx", sheet_name='basic1')

# ì²« ë²ˆì§¸ ì—´ì„ ì‰¼í‘œ ê¸°ì¤€ìœ¼ë¡œ ë¶„ë¦¬
df = df_raw.iloc[:, 0].str.split(",", expand=True)

# ì»¬ëŸ¼ëª… ì„¤ì •
df.columns = ['id', 'age', 'city', 'f1', 'f2', 'f3', 'f4', 'f5']

# íƒ€ì… ë³€í™˜ (ìˆ«ì ì»¬ëŸ¼)
cols_to_numeric = ['age', 'f1', 'f2', 'f5']
df[cols_to_numeric] = df[cols_to_numeric].apply(pd.to_numeric, errors='coerce')

In [17]:
df.head()

     id   age city    f1  f2 f3    f4         f5
0  id01   2.0   ì„œìš¸   NaN   0     ENFJ  91.297791
1  id02   9.0   ì„œìš¸  70.0   1     ENFJ  60.339826
2  id03  27.0   ì„œìš¸  61.0   1     ISTJ  17.252986
3  id04  75.0   ì„œìš¸   NaN   2     INFP  52.667078
4  id05  24.0   ì„œìš¸  85.0   2     ISFJ  29.269869

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      100 non-null    object
 1   age     100 non-null    float64
 2   city    100 non-null    object
 3   f1      69 non-null     float64
 4   f2      100 non-null    int64
 5   f3      100 non-null    object
 6   f4      100 non-null    object
 7   f5      100 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 6.4+ KB

## ğŸ§ª ì‘ì—…í˜• 1ìœ í˜• - ë¬¸ì œ 1

### ğŸ“Œ ë¬¸ì œ ì„¤ëª…
`f1` ì»¬ëŸ¼ì˜ ê²°ì¸¡ì¹˜ë¥¼ `city`ë³„ í‰ê· ê°’ìœ¼ë¡œ ëŒ€ì²´í•˜ê³ , ì¡°ê±´ì— ë§ëŠ” í‰ê· ì„ ê³„ì‚°í•˜ì‹œì˜¤.

---
ğŸ”¸ ì¡°ê±´
1. `f1` ì»¬ëŸ¼ì˜ ê²°ì¸¡ì¹˜ëŠ” **`city`ë³„ í‰ê· ê°’**ìœ¼ë¡œ ëŒ€ì²´í•  ê²ƒ  
2. ê²°ì¸¡ì¹˜ê°€ ì²˜ë¦¬ëœ ì´í›„, ì•„ë˜ ì¡°ê±´ì„ ë§Œì¡±í•˜ëŠ” ë°ì´í„°ë§Œ ì¶”ì¶œ:
   - `city == 'ì„œìš¸'`
   - `f2 >= 1`
3. ìœ„ ì¡°ê±´ì„ ë§Œì¡±í•˜ëŠ” í–‰ë“¤ì˜ `f1` í‰ê· ê°’ì„ **ì†Œìˆ˜ì  ë‘˜ì§¸ ìë¦¬ê¹Œì§€ ë°˜ì˜¬ë¦¼**í•˜ì—¬ ì¶œë ¥í•˜ì‹œì˜¤.

---

### âœ… ì¶œë ¥ í˜•ì‹
```python
print(result)  # ì˜ˆì‹œ: 65.71
```

## ë‚˜ì˜ í’€ì´

In [27]:
df1= df.copy()

In [29]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      100 non-null    object
 1   age     100 non-null    float64
 2   city    100 non-null    object
 3   f1      69 non-null     float64
 4   f2      100 non-null    int64
 5   f3      100 non-null    object
 6   f4      100 non-null    object
 7   f5      100 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 6.4+ KB

In [32]:
df1.isnull().sum()

id       0
age      0
city     0
f1      31
f2       0
f3       0
f4       0
f5       0
dtype: int64

In [38]:
df1.groupby(['city'])['f1'].mean()

city
ê²½ê¸°    62.551724
ëŒ€êµ¬    74.846154
ë¶€ì‚°    62.583333
ì„œìš¸    67.933333
Name: f1, dtype: float64

In [49]:
# df1.groupby(['city'])['f1'].transform('mean')

In [55]:
### f1 ì»¬ëŸ¼ì˜ ê²°ì¸¡ì¹˜ë¥¼ cityë³„ í‰ê· ê°’ìœ¼ë¡œ ëŒ€ì²´
df1['f1']=df1['f1'].fillna(df1.groupby(['city'])['f1'].transform('mean'))

In [57]:
df1.isnull().sum()

id      0
age     0
city    0
f1      0
f2      0
f3      0
f4      0
f5      0
dtype: int64

In [75]:
# city == 'ì„œìš¸'  f2 >= 1 ì¡°ê±´ ë§Œì¡±í•˜ëŠ” í–‰ë“¤ì˜ f1 í‰ê· ê°’ì„ ì†Œìˆ˜ì  ë‘˜ì§¸ ìë¦¬ê¹Œì§€ ë°˜ì˜¬ë¦¼í•˜ì—¬ ì¶œë ¥
round(df1[(df1['city']=='ì„œìš¸') & (df1['f2']>=1)]['f1'].mean(),2)

67.45

## ğŸ§ª ì‘ì—…í˜• 1ìœ í˜• - ë¬¸ì œ 2

### ğŸ“Œ ë¬¸ì œ ì„¤ëª…  
`f5` ì»¬ëŸ¼ì—ì„œ ì´ìƒì¹˜ë¥¼ ì ì ˆí•œ ê¸°ì¤€ì— ë”°ë¼ íƒì§€í•œ ë’¤, ì´ë¥¼ ì²˜ë¦¬í•˜ê³  í‰ê· ê°’ì„ êµ¬í•˜ì‹œì˜¤.

### ğŸ”¸ ì¡°ê±´  
1. ì´ìƒì¹˜ ê¸°ì¤€ì€ **IQR ë°©ì‹**ì„ ë”°ë¥¸ë‹¤:
   - **Q1 = 1ì‚¬ë¶„ìœ„ìˆ˜**, **Q3 = 3ì‚¬ë¶„ìœ„ìˆ˜**
   - **IQR = Q3 - Q1**
   - ì´ìƒì¹˜ ë²”ìœ„: `f5 < Q1 - 1.5Ã—IQR` ë˜ëŠ” `f5 > Q3 + 1.5Ã—IQR`
2. ì´ìƒì¹˜ì— í•´ë‹¹í•˜ëŠ” ê°’ì„ **ì „ì²´ `f5`ì˜ ì¤‘ì•™ê°’ìœ¼ë¡œ ëŒ€ì²´**í•œë‹¤.
3. ì´ìƒì¹˜ê°€ ì²˜ë¦¬ëœ `f5` ì»¬ëŸ¼ì˜ **í‰ê· ê°’ì„ ì†Œìˆ˜ì  ë‘˜ì§¸ ìë¦¬ê¹Œì§€ ë°˜ì˜¬ë¦¼**í•˜ì—¬ ì¶œë ¥í•˜ì‹œì˜¤.


### âœ… ì¶œë ¥ í˜•ì‹
```python
print(result)  # ì˜ˆì‹œ: 51.27
```

## ë‚˜ì˜ í’€ì´

In [115]:
df2=df.copy()

In [117]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      100 non-null    object
 1   age     100 non-null    float64
 2   city    100 non-null    object
 3   f1      69 non-null     float64
 4   f2      100 non-null    int64
 5   f3      100 non-null    object
 6   f4      100 non-null    object
 7   f5      100 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 6.4+ KB

In [119]:
median= df2['f5'].median()

In [121]:
q1=df2['f5'].quantile(0.25)
q3=df2['f5'].quantile(0.75)

In [123]:
iqr=q3-q1

In [125]:
len(df2[(df2['f5']< (q1-1.5*iqr)) |(df2['f5']>(q3+1.5*iqr))])

0

In [99]:
df2[(df2['f5']< (q1-1.5*iqr)) |(df2['f5']>(q3+1.5*iqr))]=median

In [127]:
round(df2['f5'].mean(),2)

56.73

## ì •ë‹µ í’€ì´

In [133]:
condition = (df2['f5'] < (q1 - 1.5 * iqr)) | (df2['f5'] > (q3 + 1.5 * iqr))

In [135]:
df2.loc[condition, 'f5'] = median

In [137]:
print(round(df2['f5'].mean(), 2))  # 56.73

56.73

## ğŸ§ª ì‘ì—…í˜• 1ìœ í˜• - ë¬¸ì œ 3

### ğŸ“Œ ë¬¸ì œ ì„¤ëª…  
íŠ¹ì • ì¡°ê±´ì„ ë§Œì¡±í•˜ëŠ” ë°ì´í„°ì— ëŒ€í•´ ì •ë ¬ ë° ë¶€ë¶„ í†µê³„ë¥¼ ìˆ˜í–‰í•˜ì‹œì˜¤.

---

### ğŸ”¸ ì¡°ê±´  
1. `f4` ì»¬ëŸ¼ì˜ ê°’ì´ `'ENFJ'`ì¸ ë°ì´í„°ë§Œ ì„ íƒí•˜ì‹œì˜¤.  
2. ìœ„ ë°ì´í„°ì—ì„œ `f5` ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í•˜ì‹œì˜¤.  
3. ì •ë ¬ëœ ë°ì´í„° ì¤‘ ìƒìœ„ 3ê°œì˜ `f5` í‰ê· ê°’ì„ **ì†Œìˆ˜ ë‘˜ì§¸ ìë¦¬ê¹Œì§€ ë°˜ì˜¬ë¦¼**í•˜ì—¬ ì¶œë ¥í•˜ì‹œì˜¤.

---

### âœ… ì¶œë ¥ í˜•ì‹
```python
print(result)  # ì˜ˆì‹œ: 73.41
```

In [141]:
df3=df.copy()

In [143]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      100 non-null    object
 1   age     100 non-null    float64
 2   city    100 non-null    object
 3   f1      69 non-null     float64
 4   f2      100 non-null    int64
 5   f3      100 non-null    object
 6   f4      100 non-null    object
 7   f5      100 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 6.4+ KB

In [147]:
enfj= df3.loc[(df3['f4']=='ENFJ'),:]

In [153]:
# enfj.info()

In [157]:
round(enfj.sort_values(['f5'],ascending=False).head(3)['f5'].mean(),2)

73.79

## ğŸ§ª ì‘ì—…í˜• 1ìœ í˜• - ë¬¸ì œ 4

### ğŸ“Œ ë¬¸ì œ ì„¤ëª…  
`f1` ì ìˆ˜ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ìƒˆë¡œìš´ íŒŒìƒ ë³€ìˆ˜ë¥¼ ë§Œë“¤ê³ , ê·¸ë£¹ë³„ í†µê³„ëŸ‰ì„ í™•ì¸í•˜ì‹œì˜¤.

---

### ğŸ”¸ ì¡°ê±´  
1. `f1` ì»¬ëŸ¼ì˜ ê°’ì´ **70 ì´ìƒì´ë©´ `'high'`**, **ê·¸ ë¯¸ë§Œì´ë©´ `'low'`**ë¡œ êµ¬ë¶„í•˜ì—¬ ìƒˆë¡œìš´ ì»¬ëŸ¼ `f1_grade`ë¥¼ ìƒì„±í•˜ì‹œì˜¤.  
   - ì¡°ê±´ ê¸°ë°˜ íŒŒìƒ ë³€ìˆ˜ ìƒì„± ë°©ì‹ ì‚¬ìš©
2. ìƒì„±ëœ `f1_grade` ê·¸ë£¹ë³„ë¡œ `f2` ì»¬ëŸ¼ì˜ **ìµœë¹ˆê°’(ê°€ì¥ ìì£¼ ë“±ì¥í•˜ëŠ” ê°’)**ì„ ì¶œë ¥í•˜ì‹œì˜¤.  
   - `value_counts()` ë˜ëŠ” `mode()` í™œìš© ê°€ëŠ¥

---

### âœ… ì¶œë ¥ ì˜ˆì‹œ
```python
# ì˜ˆì‹œ ì¶œë ¥ (ì‹¤ì œ ê²°ê³¼ëŠ” ë‹¤ë¥¼ ìˆ˜ ìˆìŒ)
high ê·¸ë£¹ â†’ 2  
low ê·¸ë£¹ â†’ 1
```

*ì¶œë ¥ í˜•ì‹ì€ ììœ ë¡­ê²Œ ë”•ì…”ë„ˆë¦¬ë‚˜ ê°œë³„ ì¶œë ¥ìœ¼ë¡œ êµ¬ì„±í•´ë„ ë¬´ë°©í•¨.*

## ë‚˜ì˜ í’€ì´

In [166]:
df4=df.copy()

In [168]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      100 non-null    object
 1   age     100 non-null    float64
 2   city    100 non-null    object
 3   f1      69 non-null     float64
 4   f2      100 non-null    int64
 5   f3      100 non-null    object
 6   f4      100 non-null    object
 7   f5      100 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 6.4+ KB

In [189]:
# f1 ì»¬ëŸ¼ì˜ ê°’ì´ 70 ì´ìƒì´ë©´ 'high', **ê·¸ ë¯¸ë§Œì´ë©´ 'low'**ë¡œ êµ¬ë¶„í•˜ì—¬ ìƒˆë¡œìš´ ì»¬ëŸ¼ f1_gradeë¥¼ ìƒì„±í•˜ì‹œì˜¤. 
df4['f1_grade']=np.where((df4['f1'] >=70),'high','low')
df4['f1_grade']

0      low
1     high
2      low
3      low
4     high
      ...
95     low
96     low
97     low
98     low
99     low
Name: f1_grade, Length: 100, dtype: object

In [199]:
# ìƒì„±ëœ f1_grade ê·¸ë£¹ë³„ë¡œ f2 ì»¬ëŸ¼ì˜ **ìµœë¹ˆê°’(ê°€ì¥ ìì£¼ ë“±ì¥í•˜ëŠ” ê°’)**ì„ ì¶œë ¥í•˜ì‹œì˜¤. 
df4.groupby(['f1_grade'])['f2'].unique()

f1_grade
high    [1, 2, 0]
low     [0, 1, 2]
Name: f2, dtype: object

In [207]:
sum(df4.loc[df4['f1_grade']=='high','f2']==1)

13

In [209]:
for grade in df4['f1_grade'].unique():
    mode = df4[df4['f1_grade'] == grade]['f2'].mode()
    print(f"{grade} ê·¸ë£¹ â†’ {mode.iloc[0]}")

low ê·¸ë£¹ â†’ 0
high ê·¸ë£¹ â†’ 1

In [211]:
df4[df4['f1_grade'] == 'high']['f2'].value_counts()

f2
1    13
0    12
2     4
Name: count, dtype: int64

In [213]:
df4[df4['f1_grade'] == 'low']['f2'].value_counts()

f2
0    37
1    24
2    10
Name: count, dtype: int64

In [215]:
# value_counts, idxmax, lambda, agg ì‚¬ìš©
df4.groupby('f1_grade')['f2'].agg(lambda x: x.value_counts().idxmax())

f1_grade
high    1
low     0
Name: f2, dtype: int64

In [233]:
df4.groupby('f1_grade')['f2'].transform(lambda x: x.value_counts().idxmax())

0     0
1     1
2     0
3     0
4     1
     ..
95    0
96    0
97    0
98    0
99    0
Name: f2, Length: 100, dtype: int64

### ê°œë… ì •ë¦¬
- âœ… agg()ë€?

- agg()ëŠ” **ì§‘ê³„ í•¨ìˆ˜(aggregation)**ë¥¼ ì ìš©í•  ë•Œ ì“°ëŠ” ë©”ì„œë“œì•¼.
- groupby() ë’¤ì— ë¶™ì—¬ì„œ ê° ê·¸ë£¹ë³„ë¡œ ì›í•˜ëŠ” í†µê³„ ì—°ì‚°ì„ ì§€ì •í•  ìˆ˜ ìˆì–´.

| êµ¬ë¶„        | `agg()`                                | `transform()`                                                 |
| --------- | -------------------------------------- | ------------------------------------------------------------- |
| **ëª©ì **    | ê·¸ë£¹ë³„ ìš”ì•½ê°’ ë°˜í™˜                             | ì›ë˜ ë°ì´í„°ì˜ **í˜•íƒœ ìœ ì§€**í•˜ë©° ë³€í™˜ê°’ ë°˜í™˜                                    |
| **ê²°ê³¼ í˜•íƒœ** | **ì¤„ì–´ë“¦** (group ìˆ˜ë§Œí¼)                    | **ì›ë˜ í–‰ ìˆ˜ ê·¸ëŒ€ë¡œ ìœ ì§€ë¨**                                            |
| **ì˜ˆì‹œ ìš©ë„** | ê·¸ë£¹ë³„ í‰ê· , ìµœëŒ“ê°’ ë“± **í†µê³„ ìš”ì•½í‘œ**               | ê·¸ë£¹ í‰ê·  ë“±ìœ¼ë¡œ **ê²°ì¸¡ì¹˜ ëŒ€ì²´**í•  ë•Œ                                       |
| **ëŒ€í‘œ ì˜ˆ**  | `df.groupby('city')['f1'].agg('mean')` | `df['f1'].fillna(df.groupby('city')['f1'].transform('mean'))` |

In [223]:
df.groupby('city')['f1'].agg('mean')
# â†’ cityë³„ í‰ê· ë§Œ ë‚¨ëŠ”ë‹¤ (3ê°œ ë„ì‹œë©´ 3í–‰)

city
ê²½ê¸°    62.551724
ëŒ€êµ¬    74.846154
ë¶€ì‚°    62.583333
ì„œìš¸    67.933333
Name: f1, dtype: float64

In [229]:
df.groupby('city')['f1'].mean() # ì¶•ì•½í˜•. agg ë¥¼ ì“°ë©´ ['mean','max'] ë‹¤ì–‘í•œ í•¨ìˆ˜ë¥¼ í•œêº¼ë²ˆì— ì‚¬ìš© ê°€ëŠ¥

city
ê²½ê¸°    62.551724
ëŒ€êµ¬    74.846154
ë¶€ì‚°    62.583333
ì„œìš¸    67.933333
Name: f1, dtype: float64

In [231]:
df.groupby('city')['f1'].agg(['mean', 'max', 'min'])

           mean    max   min
city
ê²½ê¸°    62.551724   98.0  12.0
ëŒ€êµ¬    74.846154  111.0  48.0
ë¶€ì‚°    62.583333   94.0  34.0
ì„œìš¸    67.933333  101.0  35.0

In [225]:
df['f1'] = df['f1'].fillna(df.groupby('city')['f1'].transform('mean'))
# â†’ ê° í–‰ì— í•´ë‹¹ ë„ì‹œì˜ í‰ê· ì´ "ëŠ˜ì–´ë‚¨"

In [227]:
df.groupby('city')['f1'].transform('mean')

0     67.933333
1     67.933333
2     67.933333
3     67.933333
4     67.933333
        ...
95    62.551724
96    62.551724
97    62.551724
98    62.551724
99    62.551724
Name: f1, Length: 100, dtype: float64

| í•¨ìˆ˜            | ì—­í•                      | ì˜ˆì‹œ                                   |
| ------------- | ---------------------- | ------------------------------------ |
| `groupby()`   | ê·¸ë£¹ ë‚˜ëˆ„ê¸°                 | `df.groupby('city')`                 |
| `agg()`       | ê·¸ë£¹ë³„ **ìš”ì•½ê°’ ê³„ì‚°**         | `agg('mean')`, `agg(['mean','max'])` |
| `transform()` | ê·¸ë£¹ë³„ í†µê³„ê°’ì„ **ì›ë³¸ í˜•íƒœë¡œ ë°˜í™˜** | `transform('mean')`                  |
| `lambda`      | ì‚¬ìš©ì ì •ì˜ ê³„ì‚°              | `agg(lambda x: ...)`                 |
| `idxmax()`    | ìµœëŒ“ê°’ì˜ **ì¸ë±ìŠ¤(=ìœ„ì¹˜)** ë°˜í™˜   | `x.value_counts().idxmax()`          |
| `idxmin()`    | ìµœì†Ÿê°’ì˜ ì¸ë±ìŠ¤ ë°˜í™˜            | `x.value_counts().idxmin()`          |

groupby, agg, transform, lambdaëŠ” ì‹¤ì „ì—ì„œ ê±°ì˜ ì„¸íŠ¸ì²˜ëŸ¼ ë“±ì¥í•˜ê³ , ì—¬ê¸°ì— idxmax, idxminë„ ìì£¼ ë¶™ì–´.

## ğŸ§ª ì‘ì—…í˜• 1ìœ í˜• - ë¬¸ì œ 5

### ğŸ“Œ ë¬¸ì œ ì„¤ëª…  
ë¬¸ìì—´ ì¡°ê±´ í•„í„°ë§ í›„, ë°ì´í„° íƒ€ì…ì„ ë³€í™˜í•˜ê³  í†µê³„ê°’ì„ ê³„ì‚°í•˜ì‹œì˜¤.

---

### ğŸ”¸ ì¡°ê±´  
1. `f4` ì»¬ëŸ¼ì˜ ê°’ ì¤‘ **ë¬¸ì `'E'`ë¥¼ í¬í•¨í•˜ëŠ” í–‰ë§Œ í•„í„°ë§**í•˜ì‹œì˜¤.  
2. í•„í„°ë§ëœ ë°ì´í„°ì—ì„œ `f5` ì»¬ëŸ¼ì˜ ê°’ì„ **ì •ìˆ˜í˜•(int)**ìœ¼ë¡œ ë³€í™˜í•˜ì‹œì˜¤.  
3. ë³€í™˜ëœ `f5` ì»¬ëŸ¼ì˜ í‰ê· ê°’ì„ **ì†Œìˆ˜ ë‘˜ì§¸ ìë¦¬ê¹Œì§€ ë°˜ì˜¬ë¦¼**í•˜ì—¬ ì¶œë ¥í•˜ì‹œì˜¤.

---

### âœ… ì¶œë ¥ í˜•ì‹
```python
print(result)  # ì˜ˆì‹œ: 51.27
```

In [243]:
df5=df.copy()

In [245]:
df5.head(3)

     id   age city    f1  f2 f3    f4         f5
0  id01   2.0   ì„œìš¸   NaN   0     ENFJ  91.297791
1  id02   9.0   ì„œìš¸  70.0   1     ENFJ  60.339826
2  id03  27.0   ì„œìš¸  61.0   1     ISTJ  17.252986

In [287]:
def has_e (letters):
    for letter in letters:
        if letter == 'E':
            return True
    return False  # forë¬¸ì„ ë‹¤ ëŒì•„ë„ ì—†ìœ¼ë©´ False
e_filtered= df5[df5['f4'].apply(has_e)]

In [289]:
e_filtered= df5[df5['f4'].apply(has_e)]

In [271]:
df5.value_counts()

id    age   city  f1    f2  f3  f4    f5
id02  9.0   ì„œìš¸    70.0  1       ENFJ  60.339826    1
id67  66.0  ê²½ê¸°    52.0  1       ISFJ  73.586397    1
id74  45.0  ê²½ê¸°    98.0  0       ESTP  52.667078    1
id72  8.0   ê²½ê¸°    97.0  0       ESTJ  97.381034    1
id71  35.0  ê²½ê¸°    84.0  2       ISFP  52.667078    1
                                                  ..
id41  81.0  ëŒ€êµ¬    55.0  0       ENFJ  37.113739    1
id42  65.0  ëŒ€êµ¬    48.0  2       ESTP  33.308999    1
id43  23.0  ëŒ€êµ¬    60.0  0       ISTP  29.269869    1
id45  97.0  ëŒ€êµ¬    88.0  0       ENFJ  13.049921    1
id99  1.0   ê²½ê¸°    47.0  0       ESFJ  97.381034    1
Name: count, Length: 69, dtype: int64

In [273]:
df5.shape

(100, 8)

In [275]:
e_filtered.shape

(52, 8)

In [291]:
# í•„í„°ë§ëœ ë°ì´í„°ì—ì„œ `f5` ì»¬ëŸ¼ì˜ ê°’ì„ **ì •ìˆ˜í˜•(int)**ìœ¼ë¡œ ë³€í™˜í•˜ì‹œì˜¤.
round(e_filtered['f5'].astype(int).mean(),2)

52.96

## ê°œì„  ëœ í’€ì´

In [294]:
e_filtered = df5[df5['f4'].str.contains('E')]
result = round(e_filtered['f5'].astype(int).mean(), 2)
print(result)

52.96

## ğŸ§ª ì‘ì—…í˜• 1ìœ í˜• - ë¬¸ì œ 6

### ğŸ“Œ ë¬¸ì œ ì„¤ëª…  
ì¤‘ë³µëœ ë°ì´í„°ë¥¼ ì œê±°í•˜ê³ , ì¬êµ¬ì¡°í™”ë¥¼ í†µí•´ ìš”ì•½ í†µê³„ë¥¼ ê³„ì‚°í•˜ì‹œì˜¤.

---

### ğŸ”¸ ì¡°ê±´  
1. `id`, `f4`, `f2` ì„¸ ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ì¤‘ë³µëœ í–‰ì„ ì œê±°í•˜ì‹œì˜¤.  
2. ì¤‘ë³µì´ ì œê±°ëœ ë°ì´í„°ì—ì„œ `f4`ë¥¼ í–‰ ì¸ë±ìŠ¤ë¡œ í•˜ì—¬, `f2`ì˜ í‰ê· ì„ ê³„ì‚°í•˜ëŠ” **í”¼ë²— í…Œì´ë¸”**ì„ ìƒì„±í•˜ì‹œì˜¤.  
3. ê²°ê³¼ í…Œì´ë¸”ì„ ì¶œë ¥í•˜ì‹œì˜¤.

---

### âœ… ì¶œë ¥ ì˜ˆì‹œ
```python
# ì˜ˆì‹œ (í˜•íƒœë§Œ ì°¸ê³ )
f2
f4
ENFJ     1.3
INFP     1.7
ISFJ     0.8
```

> *ë‹¨, ì¶œë ¥ í˜•ì‹ì€ `pivot_table()` ê²°ê³¼ ê·¸ëŒ€ë¡œ ì¶œë ¥í•˜ë©´ ì¶©ë¶„í•¨.*

In [301]:
df6=df.copy()
df6.shape

(100, 8)

In [313]:
df6_unique=df6.drop_duplicates(['f4','f2'])

In [315]:
df6_unique.shape

(40, 8)

In [319]:
pivot=df6_unique.pivot_table(index='f4',values='f2',aggfunc='mean')
pivot

       f2
f4
ENFJ  0.5
ENFP  0.5
ENTJ  0.5
ENTP  1.0
ESFJ  1.0
ESFP  1.0
ESTJ  1.0
ESTP  1.0
INFJ  0.5
INFP  1.0
INTJ  0.5
INTP  1.0
ISFJ  1.0
ISFP  1.0
ISTJ  0.5
ISTP  0.5