In [27]:
import pandas as pd
import numpy as np

In [18]:
import os
os.chdir('bigdata-analysis-test-study')
# df = pd.read_csv(r"D:\study\bigdata-analysis-test-study\data\Titanic.csv")
df=pd.read_csv("data/Titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## ì‘ì—…í˜• 1 ì—°ìŠµ - ë¬¸ì œ 1
ğŸ¯ ë¬¸ì œ 1: ì¡°ê±´ë¶€ ì§‘ê³„ (ê¸°ë³¸)
ë¬¸ì œ
ìŠ¹ê° í´ë˜ìŠ¤(Pclass)ë³„ë¡œ ê·¸ë£¹ì„ ë‚˜ëˆ„ì–´ì„œ, ê° í´ë˜ìŠ¤ì—ì„œ ìƒì¡´í•œ ìŠ¹ê°ì˜ í‰ê·  ë‚˜ì´ë¥¼ êµ¬í•˜ì„¸ìš”.
ì¡°ê±´:

ìƒì¡´í•œ ìŠ¹ê°ë§Œ ëŒ€ìƒ (Survived == 1)
ê²°ì¸¡ì¹˜(NaN)ê°€ ìˆëŠ” ë‚˜ì´ëŠ” ì œì™¸í•˜ê³  ê³„ì‚°
ì†Œìˆ˜ì  ë‘˜ì§¸ ìë¦¬ê¹Œì§€ ë°˜ì˜¬ë¦¼
ê²°ê³¼ë¥¼ ë”•ì…”ë„ˆë¦¬ í˜•íƒœë¡œ ì¶œë ¥: {í´ë˜ìŠ¤: í‰ê· ë‚˜ì´}

íŒíŠ¸

ë¨¼ì € ìƒì¡´í•œ ìŠ¹ê°ë§Œ í•„í„°ë§
ë‚˜ì´ì— ê²°ì¸¡ì¹˜ê°€ ì—†ëŠ” ë°ì´í„°ë§Œ ì„ íƒ
Pclassë¡œ groupby í›„ Ageì˜ í‰ê·  ê³„ì‚°

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Gender       891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [35]:
group=df.groupby("Pclass")

In [41]:
result = df[(df['Survived'] == 1) & (df['Age'].notna())].groupby('Pclass')['Age'].mean().round(2).to_dict()
print(result)

{1: 35.37, 2: 25.9, 3: 20.65}

In [55]:
# 1ë‹¨ê³„: ìƒì¡´í•œ ìŠ¹ê°ë§Œ í•„í„°ë§
survived_passengers = df[df['Survived'] == 1]
print("ìƒì¡´ì ìˆ˜:", len(survived_passengers))

ìƒì¡´ì ìˆ˜: 342

In [57]:
# 2ë‹¨ê³„: ë‚˜ì´ ê²°ì¸¡ì¹˜ ì œê±°
survived_with_age = survived_passengers[survived_passengers['Age'].notna()]
print("ë‚˜ì´ ì •ë³´ê°€ ìˆëŠ” ìƒì¡´ì ìˆ˜:", len(survived_with_age))

ë‚˜ì´ ì •ë³´ê°€ ìˆëŠ” ìƒì¡´ì ìˆ˜: 290

In [61]:
survived_with_age['Age'].mean()

28.343689655172415

In [59]:
# 3ë‹¨ê³„: í´ë˜ìŠ¤ë³„ ê·¸ë£¹í™” í›„ ë‚˜ì´ í‰ê·  ê³„ì‚°
class_age_mean = survived_with_age.groupby('Pclass')['Age'].mean()
print("í´ë˜ìŠ¤ë³„ í‰ê·  ë‚˜ì´:")
print(class_age_mean)

í´ë˜ìŠ¤ë³„ í‰ê·  ë‚˜ì´:
Pclass
1    35.368197
2    25.901566
3    20.646118
Name: Age, dtype: float64

In [63]:

# ë¬¸ì œ 1 ì •ë‹µ
result = df[(df['Survived'] == 1) & (df['Age'].notna())].groupby('Pclass')['Age'].mean().round(2).to_dict()
print(result)

{1: 35.37, 2: 25.9, 3: 20.65}

## ì‘ì—…í˜• 1 ì—°ìŠµ - ë¬¸ì œ 2
ğŸ¯ ë¬¸ì œ 2: ê²°ì¸¡ì¹˜ ì²˜ë¦¬ + ì¡°ê±´ë¶€ ì§‘ê³„
ë¬¸ì œ
ë‚˜ì´(Age) ì»¬ëŸ¼ì˜ ê²°ì¸¡ì¹˜ë¥¼ ì„±ë³„(Gender)ë³„ ì¤‘ì•™ê°’ìœ¼ë¡œ ì±„ìš´ í›„, ê° ì„±ë³„ì—ì„œ ìš”ê¸ˆ(Fare)ì´ ê°€ì¥ ë¹„ì‹¼ ìŠ¹ê°ì˜ ë‚˜ì´ë¥¼ êµ¬í•˜ì„¸ìš”.
ì¡°ê±´:

ë‚˜ì´ ê²°ì¸¡ì¹˜ë¥¼ ì„±ë³„ë³„ ì¤‘ì•™ê°’ìœ¼ë¡œ ëŒ€ì²´
ì„±ë³„ë³„ë¡œ ìš”ê¸ˆì´ ìµœëŒ€ì¸ ìŠ¹ê° ì°¾ê¸°
í•´ë‹¹ ìŠ¹ê°ë“¤ì˜ ë‚˜ì´ë¥¼ ì •ìˆ˜ë¡œ ë°˜í™˜
ê²°ê³¼ë¥¼ ë”•ì…”ë„ˆë¦¬ í˜•íƒœë¡œ ì¶œë ¥: {'female': ë‚˜ì´, 'male': ë‚˜ì´}

íŒíŠ¸

ì„±ë³„ë³„ ë‚˜ì´ ì¤‘ì•™ê°’ ê³„ì‚°
ê²°ì¸¡ì¹˜ ëŒ€ì²´
ì„±ë³„ë³„ ìš”ê¸ˆ ìµœëŒ€ê°’ ì°¾ê¸°
ìµœëŒ€ ìš”ê¸ˆ ìŠ¹ê°ì˜ ë‚˜ì´ ì¶”ì¶œ

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Gender       891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [68]:
df.head(2)

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

## ë‚˜ì´ ê²°ì¸¡ì¹˜ë¥¼ ì„±ë³„ë³„ ì¤‘ì•™ê°’ìœ¼ë¡œ ëŒ€ì²´

In [106]:
# df['Gender'].isnull().sum()
m_med=df[df['Gender']=='male']['Age'].median()
f_med=df[df['Gender']=='female']['Age'].median()
df[df['Gender']=='male']['Age'].fillna(m_med, inplace=True)

C:\Users\pjjeo\AppData\Local\Temp\ipykernel_70760\3103380174.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df['Gender']=='male']['Age']= df[df['Gender']=='male']['Age'].fillna(m_med)

In [108]:
df[df['Gender']=='male']['Age'].isnull().sum()

124

In [114]:
# ë°©ë²• 1: loc ì‚¬ìš© (ê°€ì¥ ì•ˆì „)
df.loc[df['Gender']=='male', 'Age'] = df.loc[df['Gender']=='male', 'Age'].fillna(m_med)
df.loc[df['Gender']=='female', 'Age'] = df.loc[df['Gender']=='female', 'Age'].fillna(f_med)

### ì„±ë³„ë³„ë¡œ ìš”ê¸ˆì´ ìµœëŒ€ì¸ ìŠ¹ê° ì°¾ê¸°

In [141]:
m_max_fare=df.loc[df['Gender']=='male','Fare'].max()

In [143]:
f_max_fare=df.loc[df['Gender']=='female','Fare'].max()

In [145]:
df.loc[(df['Gender']=='male') & (df['Fare']==m_max_fare), 'Age']

679    36.0
737    35.0
Name: Age, dtype: float64

In [147]:
df.loc[(df['Gender']=='female')&(df['Fare']==f_max_fare),'Age']

258    35.0
Name: Age, dtype: float64

In [137]:
max_idx = df.loc[df['Gender']=='male','Fare'].idxmax()
age = df.loc[max_idx, 'Age']

In [139]:
print(age)

36.0

## ì‘ì—…í˜• 1 ì—°ìŠµ - ë¬¸ì œ 3
ğŸ¯ ë¬¸ì œ 3: ì •ë ¬ + ìƒìœ„ ë°ì´í„° ì¶”ì¶œ
ë¬¸ì œ
ìŠ¹ê°ì„ ë‚˜ì´ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•œ í›„, ìƒìœ„ 20ëª…ì˜ í‰ê·  ìš”ê¸ˆê³¼ í•˜ìœ„ 20ëª…ì˜ í‰ê·  ìš”ê¸ˆì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì„¸ìš”.
ì¡°ê±´:

ë‚˜ì´ì— ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” ìŠ¹ê°ì€ ì œì™¸
ë‚˜ì´ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ (ë‚˜ì´ ë§ì€ ìˆœ)
ìƒìœ„ 20ëª…(ë‚˜ì´ ë§ì€ 20ëª…)ì˜ í‰ê·  ìš”ê¸ˆ ê³„ì‚°
í•˜ìœ„ 20ëª…(ë‚˜ì´ ì ì€ 20ëª…)ì˜ í‰ê·  ìš”ê¸ˆ ê³„ì‚°
ìƒìœ„ í‰ê·  - í•˜ìœ„ í‰ê· ì˜ ì°¨ì´ë¥¼ ì†Œìˆ˜ì  ë‘˜ì§¸ ìë¦¬ê¹Œì§€ ë°˜ì˜¬ë¦¼

In [163]:
df2=df.copy()

In [171]:
df2['Age'].isnull().sum()

0

In [185]:
df2_sorted=df2.sort_values('Age', ascending=False)
df2_sorted.loc[0:20,'Fare'].mean()

nan

In [207]:
df2_sorted.iloc[0:20, 9].mean()

43.58042

In [197]:
df2_sorted.loc[0:20, 'Fare'].mean()

nan

In [217]:
print(round(df2_sorted.head(20)['Fare'].mean()-df2_sorted.tail(20)['Fare'].mean(),1))

6.0

In [215]:

# ë¬¸ì œ 3 ì™„ë£Œëœ ì½”ë“œ
result = df2_sorted.head(20)['Fare'].mean() - df2_sorted.tail(20)['Fare'].mean()
print(f"ìƒìœ„ 20ëª…ê³¼ í•˜ìœ„ 20ëª…ì˜ ìš”ê¸ˆ ì°¨ì´: {result}")

# ë¬¸ì œì—ì„œ ìš”êµ¬í•œ ì†Œìˆ˜ì  ë‘˜ì§¸ ìë¦¬ ë°˜ì˜¬ë¦¼
final_answer = round(result, 2)
print(f"ìµœì¢… ë‹µì•ˆ (ì†Œìˆ˜ì  ë‘˜ì§¸ ìë¦¬): {final_answer}")

# === ê²€ì¦ ===
print("\n=== ê²€ì¦ ===")
top_20 = df2_sorted.head(20)
bottom_20 = df2_sorted.tail(20)

print(f"ìƒìœ„ 20ëª… ë‚˜ì´ ë²”ìœ„: {top_20['Age'].min():.1f} ~ {top_20['Age'].max():.1f}ì„¸")
print(f"í•˜ìœ„ 20ëª… ë‚˜ì´ ë²”ìœ„: {bottom_20['Age'].min():.1f} ~ {bottom_20['Age'].max():.1f}ì„¸")

print(f"ìƒìœ„ 20ëª… í‰ê·  ìš”ê¸ˆ: {top_20['Fare'].mean():.2f}")
print(f"í•˜ìœ„ 20ëª… í‰ê·  ìš”ê¸ˆ: {bottom_20['Fare'].mean():.2f}")
print(f"ì°¨ì´: {final_answer}")

# ğŸ¯ ì½”ë“œ ë¶„ì„
print("\n=== ì½”ë“œ ë¶„ì„ ===")
print("âœ… ì •ë ¬: sort_values('Age', ascending=False)")
print("âœ… ìƒìœ„ ì¶”ì¶œ: head(20)")  
print("âœ… í•˜ìœ„ ì¶”ì¶œ: tail(20)")
print("âœ… í‰ê·  ê³„ì‚°: mean()")
print("âœ… ì°¨ì´ ê³„ì‚°: ìƒìœ„ - í•˜ìœ„")
print("âœ… í•œ ì¤„ ì™„ì„±: ë§¤ìš° íš¨ìœ¨ì !")

ìƒìœ„ 20ëª…ê³¼ í•˜ìœ„ 20ëª…ì˜ ìš”ê¸ˆ ì°¨ì´: 6.034169999999996
ìµœì¢… ë‹µì•ˆ (ì†Œìˆ˜ì  ë‘˜ì§¸ ìë¦¬): 6.03

=== ê²€ì¦ ===
ìƒìœ„ 20ëª… ë‚˜ì´ ë²”ìœ„: 61.0 ~ 80.0ì„¸
í•˜ìœ„ 20ëª… ë‚˜ì´ ë²”ìœ„: 0.4 ~ 2.0ì„¸
ìƒìœ„ 20ëª… í‰ê·  ìš”ê¸ˆ: 43.58
í•˜ìœ„ 20ëª… í‰ê·  ìš”ê¸ˆ: 37.55
ì°¨ì´: 6.03

=== ì½”ë“œ ë¶„ì„ ===
âœ… ì •ë ¬: sort_values('Age', ascending=False)
âœ… ìƒìœ„ ì¶”ì¶œ: head(20)
âœ… í•˜ìœ„ ì¶”ì¶œ: tail(20)
âœ… í‰ê·  ê³„ì‚°: mean()
âœ… ì°¨ì´ ê³„ì‚°: ìƒìœ„ - í•˜ìœ„
âœ… í•œ ì¤„ ì™„ì„±: ë§¤ìš° íš¨ìœ¨ì !

## ì‘ì—…í˜• 1 ì—°ìŠµ - ë¬¸ì œ 4
ğŸ¯ ë¬¸ì œ 4: ê·¸ë£¹ë³„ ê²°ì¸¡ì¹˜ ëŒ€ì²´ (ê¸°ì¶œ ìŠ¤íƒ€ì¼)
- ë‚˜ì´(Age) ì»¬ëŸ¼ì˜ ê²°ì¸¡ì¹˜ë¥¼ ìŠ¹ê° í´ë˜ìŠ¤(Pclass)ì™€ ì„±ë³„(Gender)ì´ ê°™ì€ ê·¸ë£¹ì˜ í‰ê·  ë‚˜ì´ë¡œ ëŒ€ì²´í•œ í›„, ê° í´ë˜ìŠ¤ë³„ í‰ê·  ë‚˜ì´ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì„¸ìš”.
    - ë‚˜ì´ ê²°ì¸¡ì¹˜ë¥¼ Pclass + Gender ì¡°í•©ë³„ í‰ê· ìœ¼ë¡œ ëŒ€ì²´
    - 1ë“±ì„ê³¼ 3ë“±ì„ì˜ í‰ê·  ë‚˜ì´ ì°¨ì´ë¥¼ ê³„ì‚°
    - ì†Œìˆ˜ì  ì²«ì§¸ ìë¦¬ê¹Œì§€ ë°˜ì˜¬ë¦¼

In [325]:
df=pd.read_csv("data/Titanic.csv")

### ë‹µì•ˆ ì¶•ì•½

In [374]:
#ì¶•ì•½ ì‹ ë‹µ
df['Age']=df['Age'].fillna(df.groupby(['Pclass','Gender'])['Age'].transform('mean'))
abs(round(df[df['Pclass']==3]['Age'].mean()-df[df['Pclass']==1]['Age'].mean(),1))

13.3


- df.groupby(['Pclass', 'Gender'])['Age'].transform('mean')ì€ ê° (Pclass, Gender) ê·¸ë£¹ì˜ í‰ê·  ë‚˜ì´ë¡œ í•´ë‹¹ ê·¸ë£¹ì˜ ëª¨ë“  í–‰ì˜ 'Age' ê°’ì„ ëŒ€ì²´í•œ Seriesë¥¼ ë°˜í™˜í•´.
- ì›ë˜ì˜ ì¸ë±ìŠ¤ì™€ ê¸¸ì´ë¥¼ ìœ ì§€í•˜ë©´ì„œ ê·¸ë£¹ í‰ê· ì„ ê° í–‰ì— í• ë‹¹í•˜ì§€.
- ê·¸ëŸ¼ ê·¸ê±¸ ì „ì²´ ì¸ë±ìŠ¤ì— fillna ì— ì‚¬ìš©í•  ìˆ˜ ìˆì–´.
- groupby(...).transform('mean') â†’ ê·¸ë£¹ í‰ê· ì„ ì „ì²´ ì¸ë±ìŠ¤ ê¸°ì¤€ìœ¼ë¡œ í™•ì¥
- fillna(...) â†’ ê·¸ ê·¸ë£¹ í‰ê· ìœ¼ë¡œ ê²°ì¸¡ì¹˜ë§Œ ì±„ì›€
- groupby + transform + fillnaëŠ” ì„¸íŠ¸ì²˜ëŸ¼ ì™¸ì›Œë„ ë¼.

In [372]:
df=pd.read_csv("data/Titanic.csv")

In [327]:
df1=df.copy()
df2=df.copy()

### 1ë²ˆ ë°©ë²•. transform ìœ¼ë¡œ ê²°ì¸¡ì¹˜ë¥¼ ê·¸ë£¹ë³„ë¡œ ì±„ìš°ê¸°

In [329]:
df1['Age'].isnull().sum()

177

In [331]:
group=df1.groupby(['Pclass','Gender'])

In [333]:
grouped_mean=group['Age'].transform('mean')

In [335]:
df1['Age']=df1['Age'].fillna(grouped_mean)

In [337]:
df1['Age'].isnull().sum()

0

### 1ë“±ì„ê³¼ 3ë“±ì„ì˜ í‰ê·  ë‚˜ì´ ì°¨ì´ë¥¼ ê³„ì‚° ì†Œìˆ˜ì  ì²«ì§¸ ìë¦¬ê¹Œì§€ ë°˜ì˜¬ë¦¼

In [357]:
abs(round(df1[df1['Pclass']==3]['Age'].mean()-df1[df1['Pclass']==1]['Age'].mean(),1))

13.3

### 2ë²ˆ ë°©ë²•: ì§ì ‘ í• ë‹¹. ì–´ë ¤ì›€

In [343]:
df2.groupby(['Pclass','Gender'])['Age'].mean()

Pclass  Gender
1       female    34.611765
        male      41.281386
2       female    28.722973
        male      30.740707
3       female    21.750000
        male      26.507589
Name: Age, dtype: float64

In [347]:
df2[(df2['Pclass']==1)&(df2['Gender']=='female')]['Age'].fillna(34.611765)

1      38.000000
3      35.000000
11     58.000000
31     34.611765
52     49.000000
         ...
856    45.000000
862    48.000000
871    47.000000
879    56.000000
887    19.000000
Name: Age, Length: 94, dtype: float64

In [264]:
df_copy=df.copy()
# === ë°©ë²• 1: transform() ì‚¬ìš© (ê°€ì¥ ê¹”ë”) ===
print("\n=== ë°©ë²• 1: transform() ì‚¬ìš© ===")
df_copy['Age'] = df_copy['Age'].fillna(
    df_copy.groupby(['Pclass', 'Gender'])['Age'].transform('mean')
)
print(f"ëŒ€ì²´ í›„ ê²°ì¸¡ì¹˜ ìˆ˜: {df_copy['Age'].isnull().sum()}")

# === ë°©ë²• 2: ê·¸ë£¹ë³„ í‰ê·  ë¯¸ë¦¬ ê³„ì‚° ===
print("\n=== ë°©ë²• 2: ê·¸ë£¹ë³„ í‰ê·  ë¯¸ë¦¬ ê³„ì‚° ===")

=== ë°©ë²• 1: transform() ì‚¬ìš© ===
ëŒ€ì²´ í›„ ê²°ì¸¡ì¹˜ ìˆ˜: 0

=== ë°©ë²• 2: ê·¸ë£¹ë³„ í‰ê·  ë¯¸ë¦¬ ê³„ì‚° ===

In [260]:
df_copy['Age'] = df_copy['Age'].fillna(
    df_copy.groupby(['Pclass', 'Gender'])['Age'].transform('mean')
)

In [269]:
group['Age'].mean()

Pclass  Gender
1       female    34.611765
        male      41.281386
2       female    28.722973
        male      30.740707
3       female    21.750000
        male      26.507589
Name: Age, dtype: float64

In [285]:
group_mean=df.groupby(['Pclass', 'Gender'])['Age'].transform('mean')

In [281]:
df.groupby(['Pclass','Gender'])['Age'].mean()

Pclass  Gender
1       female    34.611765
        male      41.281386
2       female    28.722973
        male      30.740707
3       female    21.750000
        male      26.507589
Name: Age, dtype: float64

In [289]:
df['Age'] = df['Age'].fillna(group_mean)

### ì‘ì—…í˜• 1 ì—°ìŠµ - ë¬¸ì œ 5
- ë¬¸ì œ 5: ì‹œê³„ì—´ ë°ì´í„° ì²˜ë¦¬
- ìŠ¹ê° ID(PassengerId)ë¥¼ ë‚ ì§œ í˜•íƒœë¡œ ë³€í™˜í•˜ì—¬, í™€ìˆ˜ ë‹¬ì— í•´ë‹¹í•˜ëŠ” ìŠ¹ê°ë“¤ì˜ í‰ê·  ìš”ê¸ˆì„ êµ¬í•˜ì„¸ìš”.

    - PassengerIdë¥¼ ë¬¸ìì—´ë¡œ ë³€í™˜ í›„ ë‚ ì§œ í˜•ì‹ìœ¼ë¡œ ë³€í™˜: 2023-01-{PassengerId}
    - ì›”(month) ì¶”ì¶œí•˜ì—¬ í™€ìˆ˜ ë‹¬ í•„í„°ë§ (1,3,5,7,9,11ì›”)
    - í™€ìˆ˜ ë‹¬ ìŠ¹ê°ë“¤ì˜ í‰ê·  ìš”ê¸ˆ ê³„ì‚°
    - ì†Œìˆ˜ì  ë‘˜ì§¸ ìë¦¬ê¹Œì§€ ë°˜ì˜¬ë¦¼

íŒíŠ¸

pd.to_datetime() ì‚¬ìš©
.dt.month ë¡œ ì›” ì¶”ì¶œ
% 2 == 1 ë¡œ í™€ìˆ˜ íŒë³„

In [379]:
df=pd.read_csv("data/Titanic.csv")

In [381]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Gender       891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [385]:
df.head(5)

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S