## 문제1
- 데이터셋(basic1.csv)의 'f5' 컬럼을 기준으로 상위 10개의 데이터를 구하고,
- 'f5'컬럼 10개 중 최소값으로 데이터를 대체한 후, 
- 'age'컬럼에서 80 이상인 데이터의'f5 컬럼 평균값 구하기

In [1]:
# 구글드라이브 연결
# from google.colab import drive
# drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# 라이브러리 및 데이터 불러오기
import pandas as pd

path = "/content/drive/MyDrive/Colab Notebooks/youtube/빅데이터분석기사/2_작업형1_기출/"
df = pd.read_csv(path + 'basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [3]:
# f5컬럼을 기준으로 내림차순 정렬
df = df.sort_values('f5', ascending=False)
df.head(10)

      id   age city    f1  f2   f3    f4         f5
10  id11  40.0   서울  68.0   0  NaN  ENFP  98.429899
97  id98  39.0   경기  58.0   2  NaN  INFP  98.429899
9   id10  95.0   서울  74.0   1  NaN  ISFP  98.429899
76  id77  77.0   경기  31.0   0  NaN  INFP  98.429899
98  id99   1.0   경기  47.0   0  NaN  ESFJ  97.381034
91  id92  97.0   경기  78.0   1  NaN  INFP  97.381034
86  id87  19.0   경기   NaN   1  NaN  ISFP  97.381034
71  id72   8.0   경기  97.0   0  NaN  ESTJ  97.381034
11  id12  20.0   서울   NaN   0  NaN  ESTP  91.297791
19  id20  11.0   서울  51.0   1  NaN  INTJ  91.297791

In [4]:
# 참고 - 인덱스 초기화
df = df.reset_index(drop=True)
df.head(10)

     id   age city    f1  f2   f3    f4         f5
0  id11  40.0   서울  68.0   0  NaN  ENFP  98.429899
1  id98  39.0   경기  58.0   2  NaN  INFP  98.429899
2  id10  95.0   서울  74.0   1  NaN  ISFP  98.429899
3  id77  77.0   경기  31.0   0  NaN  INFP  98.429899
4  id99   1.0   경기  47.0   0  NaN  ESFJ  97.381034
5  id92  97.0   경기  78.0   1  NaN  INFP  97.381034
6  id87  19.0   경기   NaN   1  NaN  ISFP  97.381034
7  id72   8.0   경기  97.0   0  NaN  ESTJ  97.381034
8  id12  20.0   서울   NaN   0  NaN  ESTP  91.297791
9  id20  11.0   서울  51.0   1  NaN  INTJ  91.297791

In [5]:
# 최소값 찾기
min = df['f5'][:10].min()
# min = 91.297791
min

91.29779092

In [6]:
# 80세 이상의 f5컬럼 평균
print(df[df['age']>=80]['f5'].mean())

63.07232761739131

## 문제2
- 데이터셋(basic1.csv)의 앞에서 순서대로 70% 데이터만 활용해서,
- 'f1'컬럼 결측치를 중앙값으로 채우기 전후의 표준편차를 구하고
- 두 표준편차 차이 계산하기

In [7]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

path = "/content/drive/MyDrive/Colab Notebooks/youtube/빅데이터분석기사/2_작업형1_기출/"
df = pd.read_csv(path + 'basic1.csv')

In [8]:
# 데이터 나누기 방법1
data70 = df.iloc[:70]
data30 = df.iloc[70:]

# [심화학습] 데이터 나누기 방법2
# data70, data30 = np.split(df, [int(.7*len(df))])

# [심화학습] 데이터 나누기 방법3 (랜덤으로 샘플링하라고 했을 때!!)
# data70 = df.sample(frac = 0.7)
# data70 = df.drop(data70.index)

data70.tail()

      id   age city    f1  f2   f3    f4         f5
65  id66  87.0   경기   NaN   1  NaN  ISFP  17.252986
66  id67  66.0   경기  52.0   1  NaN  ISFJ  73.586397
67  id68  35.0   경기  45.0   2  NaN  ISFP  67.886373
68  id69  75.0   경기  85.0   0  NaN  ESTJ  69.730313
69  id70   9.0   경기  96.0   1  NaN  ISTP  48.431184

In [9]:
## 결측치 확인
data70.isnull().sum()

id       0
age      0
city     0
f1      23
f2       0
f3      67
f4       0
f5       0
dtype: int64

In [10]:
## 결측치 채우기 전 f1컬럼 표준편자
std1 = np.std(data70['f1'])
std1

17.794892986121205

In [11]:
## 중앙값 확인
med=data70['f1'].median()
med

68.0

In [12]:
## 중앙값으로 채우기
data70['f1'] = data70['f1'].fillna(med)

## 다른 방법들
# data70['f1']= data70['f1'].replace(np.nan, med)
# data70 = data70.fillna(value=med)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
## 결측치 확인
data70.isnull().sum()

id       0
age      0
city     0
f1       0
f2       0
f3      67
f4       0
f5       0
dtype: int64

In [14]:
## 결측치를 채운 후 표준편차 구하기
std2 = np.std(data70['f1'])
std2

14.585462429615124

In [15]:
print(std1-std2)

3.2094305565060814

## 문제3
- 데이터셋(basic1.csv)의 'age'컬럼의 이상치를 더하시오!
- 단, 평균으로부터 1.5*표준편차를 벗어나는 영역을 이상치라고 판단함

In [16]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

path = "/content/drive/MyDrive/Colab Notebooks/youtube/빅데이터분석기사/2_작업형1_기출/"
df = pd.read_csv(path + 'basic1.csv')

In [17]:
std = np.std(df['age']) * 1.5
mean = df['age'].mean()

min_out = mean - std
max_out = mean + std
print(min_out, max_out)

7.5320068233494055 95.50199317665061

In [18]:
# 이상치 age합
df[(df['age']>max_out)|(df['age']<min_out)]['age'].sum()

# 다르게 작성방법
# df.loc[(df['age'] > max)]['age'].sum() + df.loc[(df['age']< min)]['age'].sum()

514.0