In [363]:
# 시험환경 세팅 (코드 변경 X)
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

def exam_data_load(df, target, id_name="", null_name=""):
    if id_name == "":
        df = df.reset_index().rename(columns={"index": "id"})
        id_name = 'id'
    else:
        id_name = id_name
    
    if null_name != "":
        df[df == null_name] = np.nan
    
    X_train, X_test = train_test_split(df, test_size=0.2, shuffle=True, random_state=2021)
    y_train = X_train[[id_name, target]]
    X_train = X_train.drop(columns=[id_name, target])
    y_test = X_test[[id_name, target]]
    X_test = X_test.drop(columns=[id_name, target])
    return X_train, X_test, y_train, y_test 
    
df = pd.read_csv("data/house/train.csv")
X_train, X_test, y_train, y_test = exam_data_load(df, target='SalePrice', id_name='Id')

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1168, 79), (292, 79), (1168, 2), (292, 2))

## 데이터 분석

In [366]:
X_train.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
81,120,RM,32.0,4500,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,0,NaN,NaN,NaN,0,3,2006,WD,Normal
1418,20,RL,71.0,9204,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,8,2008,COD,Normal
1212,30,RL,50.0,9340,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,8,2009,WD,Normal
588,20,RL,65.0,25095,Pave,NaN,IR1,Low,AllPub,Inside,...,60,0,NaN,NaN,NaN,0,6,2009,WD,Partial
251,120,RM,44.0,4750,Pave,NaN,IR1,HLS,AllPub,Inside,...,153,0,NaN,NaN,NaN,0,12,2007,WD,Family

In [368]:
import pandas as pd
X_train.shape, X_test.shape

((1168, 79), (292, 79))

In [370]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1168 entries, 81 to 1140
Data columns (total 79 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     1168 non-null   int64
 1   MSZoning       1168 non-null   object
 2   LotFrontage    956 non-null    float64
 3   LotArea        1168 non-null   int64
 4   Street         1168 non-null   object
 5   Alley          70 non-null     object
 6   LotShape       1168 non-null   object
 7   LandContour    1168 non-null   object
 8   Utilities      1168 non-null   object
 9   LotConfig      1168 non-null   object
 10  LandSlope      1168 non-null   object
 11  Neighborhood   1168 non-null   object
 12  Condition1     1168 non-null   object
 13  Condition2     1168 non-null   object
 14  BldgType       1168 non-null   object
 15  HouseStyle     1168 non-null   object
 16  OverallQual    1168 non-null   int64
 17  OverallCond    1168 non-null   int64
 18  YearBuilt      1168 non-null   int64
 19  YearRemodAdd   1168 non-null   int64
 20  RoofStyle      1168 non-null   object
 21  RoofMatl       1168 non-null   object
 22  Exterior1st    1168 non-null   object
 23  Exterior2nd    1168 non-null   object
 24  MasVnrType     465 non-null    object
 25  MasVnrArea     1162 non-null   float64
 26  ExterQual      1168 non-null   object
 27  ExterCond      1168 non-null   object
 28  Foundation     1168 non-null   object
 29  BsmtQual       1139 non-null   object
 30  BsmtCond       1139 non-null   object
 31  BsmtExposure   1138 non-null   object
 32  BsmtFinType1   1139 non-null   object
 33  BsmtFinSF1     1168 non-null   int64
 34  BsmtFinType2   1139 non-null   object
 35  BsmtFinSF2     1168 non-null   int64
 36  BsmtUnfSF      1168 non-null   int64
 37  TotalBsmtSF    1168 non-null   int64
 38  Heating        1168 non-null   object
 39  HeatingQC      1168 non-null   object
 40  CentralAir     1168 non-null   object
 41  Electrical     1167 non-null   object
 42  1stFlrSF       1168 non-null   int64
 43  2ndFlrSF       1168 non-null   int64
 44  LowQualFinSF   1168 non-null   int64
 45  GrLivArea      1168 non-null   int64
 46  BsmtFullBath   1168 non-null   int64
 47  BsmtHalfBath   1168 non-null   int64
 48  FullBath       1168 non-null   int64
 49  HalfBath       1168 non-null   int64
 50  BedroomAbvGr   1168 non-null   int64
 51  KitchenAbvGr   1168 non-null   int64
 52  KitchenQual    1168 non-null   object
 53  TotRmsAbvGrd   1168 non-null   int64
 54  Functional     1168 non-null   object
 55  Fireplaces     1168 non-null   int64
 56  FireplaceQu    615 non-null    object
 57  GarageType     1107 non-null   object
 58  GarageYrBlt    1107 non-null   float64
 59  GarageFinish   1107 non-null   object
 60  GarageCars     1168 non-null   int64
 61  GarageArea     1168 non-null   int64
 62  GarageQual     1107 non-null   object
 63  GarageCond     1107 non-null   object
 64  PavedDrive     1168 non-null   object
 65  WoodDeckSF     1168 non-null   int64
 66  OpenPorchSF    1168 non-null   int64
 67  EnclosedPorch  1168 non-null   int64
 68  3SsnPorch      1168 non-null   int64
 69  ScreenPorch    1168 non-null   int64
 70  PoolArea       1168 non-null   int64
 71  PoolQC         5 non-null      object
 72  Fence          231 non-null    object
 73  MiscFeature    44 non-null     object
 74  MiscVal        1168 non-null   int64
 75  MoSold         1168 non-null   int64
 76  YrSold         1168 non-null   int64
 77  SaleType       1168 non-null   object
 78  SaleCondition  1168 non-null   object
dtypes: float64(3), int64(33), object(43)
memory usage: 730.0+ KB

In [372]:
X_train.isnull().sum().sort_values(ascending=False)

PoolQC           1163
MiscFeature      1124
Alley            1098
Fence             937
MasVnrType        703
                 ...
Heating             0
MSZoning            0
CentralAir          0
1stFlrSF            0
SaleCondition       0
Length: 79, dtype: int64

In [374]:
X_train.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
81,120,RM,32.0,4500,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,0,NaN,NaN,NaN,0,3,2006,WD,Normal
1418,20,RL,71.0,9204,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,8,2008,COD,Normal
1212,30,RL,50.0,9340,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,8,2009,WD,Normal
588,20,RL,65.0,25095,Pave,NaN,IR1,Low,AllPub,Inside,...,60,0,NaN,NaN,NaN,0,6,2009,WD,Partial
251,120,RM,44.0,4750,Pave,NaN,IR1,HLS,AllPub,Inside,...,153,0,NaN,NaN,NaN,0,12,2007,WD,Family

In [376]:
y_train.head()

        Id  SalePrice
81      82     153500
1418  1419     124000
1212  1213     113000
588    589     143000
251    252     235000

In [378]:
X_train.drop(['PoolQC','MiscFeature','Alley'],axis=1,inplace=True)

In [380]:
X_train.shape,X_test.shape

((1168, 76), (292, 79))

In [382]:
X_test.drop(['PoolQC','MiscFeature','Alley'],axis=1,inplace=True)

In [384]:
num_cols=X_train.select_dtypes(['float64','int64']).columns
cat_cols=X_train.select_dtypes(['O']).columns

In [389]:
X_train.shape,X_test.shape

((1168, 76), (292, 76))

In [391]:
for col in num_cols:
    X_train[col]= X_train[col].fillna(X_train[col].median())
    X_test[col]= X_test[col].fillna(X_test[col].median())

In [393]:
for col in cat_cols:
    X_train[col]= X_train[col].fillna(X_train[col].mode()[0])
    X_test[col]= X_test[col].fillna(X_test[col].mode()[0])

In [395]:
X_train.isnull().sum().sum()

0

In [397]:
# 결측치처리완료.
# 범주형변수 원핫인코딩 후 정렬필요
X_train.shape,X_test.shape

((1168, 76), (292, 76))

In [399]:
X_train= pd.get_dummies(X_train)
X_test=pd.get_dummies(X_test)

In [401]:
X_train.shape,X_test.shape

((1168, 275), (292, 246))

In [403]:
X_train.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
81,120,32.0,4500,6,5,1998,1998,443.0,1201,0,...,False,False,False,True,False,False,False,False,True,False
1418,20,71.0,9204,5,5,1963,1963,0.0,25,872,...,False,False,False,False,False,False,False,False,True,False
1212,30,50.0,9340,4,6,1941,1950,0.0,344,0,...,False,False,False,True,False,False,False,False,True,False
588,20,65.0,25095,5,8,1968,2003,0.0,1324,0,...,False,False,False,True,False,False,False,False,False,True
251,120,44.0,4750,8,5,2006,2007,481.0,1573,0,...,False,False,False,True,False,False,False,True,False,False

In [405]:
X_train, X_test= X_train.align(X_test,join='left',axis=1, fill_value=0)

In [357]:
help(X_train.align)

Help on method align in module pandas.core.generic:

align(other: 'NDFrameT', join: 'AlignJoin' = 'outer', axis: 'Axis | None' = None, level: 'Level | None' = None, copy: 'bool_t | None' = None, fill_value: 'Hashable | None' = None, method: 'FillnaOptions | None | lib.NoDefault' = <no_default>, limit: 'int | None | lib.NoDefault' = <no_default>, fill_axis: 'Axis | lib.NoDefault' = <no_default>, broadcast_axis: 'Axis | None | lib.NoDefault' = <no_default>) -> 'tuple[Self, NDFrameT]' method of pandas.core.frame.DataFrame instance
    Align two objects on their axes with the specified join method.

    Join method is specified for each axis Index.

    Parameters
    ----------
    other : DataFrame or Series
    join : {'outer', 'inner', 'left', 'right'}, default 'outer'
        Type of alignment to be performed.

        * left: use only keys from left frame, preserve key order.
        * right: use only keys from right frame, preserve key order.
        * outer: use union of keys from both frames, sort keys lexicographically.
        * inner: use intersection of keys from both frames,
          preserve the order of the left keys.

    axis : allowed axis of the other object, default None
        Align on index (0), columns (1), or both (None).
    level : int or level name, default None
        Broadcast across a level, matching Index values on the
        passed MultiIndex level.
    copy : bool, default True
        Always returns new objects. If copy=False and no reindexing is
        required then original objects are returned.

        .. note::
            The `copy` keyword will change behavior in pandas 3.0.
            `Copy-on-Write
            <https://pandas.pydata.org/docs/dev/user_guide/copy_on_write.html>`__
            will be enabled by default, which means that all methods with a
            `copy` keyword will use a lazy copy mechanism to defer the copy and
            ignore the `copy` keyword. The `copy` keyword will be removed in a
            future version of pandas.

            You can already get the future behavior and improvements through
            enabling copy on write ``pd.options.mode.copy_on_write = True``
    fill_value : scalar, default np.nan
        Value to use for missing values. Defaults to NaN, but can be any
        "compatible" value.
    method : {'backfill', 'bfill', 'pad', 'ffill', None}, default None
        Method to use for filling holes in reindexed Series:

        - pad / ffill: propagate last valid observation forward to next valid.
        - backfill / bfill: use NEXT valid observation to fill gap.

        .. deprecated:: 2.1

    limit : int, default None
        If method is specified, this is the maximum number of consecutive
        NaN values to forward/backward fill. In other words, if there is
        a gap with more than this number of consecutive NaNs, it will only
        be partially filled. If method is not specified, this is the
        maximum number of entries along the entire axis where NaNs will be
        filled. Must be greater than 0 if not None.

        .. deprecated:: 2.1

    fill_axis : {0 or 'index'} for Series, {0 or 'index', 1 or 'columns'} for DataFrame, default 0
        Filling axis, method and limit.

        .. deprecated:: 2.1

    broadcast_axis : {0 or 'index'} for Series, {0 or 'index', 1 or 'columns'} for DataFrame, default None
        Broadcast values along this axis, if aligning two objects of
        different dimensions.

        .. deprecated:: 2.1

    Returns
    -------
    tuple of (Series/DataFrame, type of other)
        Aligned objects.

    Examples
    --------
    >>> df = pd.DataFrame(
    ...     [[1, 2, 3, 4], [6, 7, 8, 9]], columns=["D", "B", "E", "A"], index=[1, 2]
    ... )
    >>> other = pd.DataFrame(
    ...     [[10, 20, 30, 40], [60, 70, 80, 90], [600, 700, 800, 900]],
    ...     columns=["A", "B", "C", "D"],
    ...     index=[2, 3, 4],
    ... )
    >>> df
       D  B  E  A
    1  1  2  3  4
    2  6  7  8  9
    >>> other
        A    B    C    D
    2   10   20   30   40
    3   60   70   80   90
    4  600  700  800  900

    Align on columns:

    >>> left, right = df.align(other, join="outer", axis=1)
    >>> left
       A  B   C  D  E
    1  4  2 NaN  1  3
    2  9  7 NaN  6  8
    >>> right
        A    B    C    D   E
    2   10   20   30   40 NaN
    3   60   70   80   90 NaN
    4  600  700  800  900 NaN

    We can also align on the index:

    >>> left, right = df.align(other, join="outer", axis=0)
    >>> left
        D    B    E    A
    1  1.0  2.0  3.0  4.0
    2  6.0  7.0  8.0  9.0
    3  NaN  NaN  NaN  NaN
    4  NaN  NaN  NaN  NaN
    >>> right
        A      B      C      D
    1    NaN    NaN    NaN    NaN
    2   10.0   20.0   30.0   40.0
    3   60.0   70.0   80.0   90.0
    4  600.0  700.0  800.0  900.0

    Finally, the default `axis=None` will align on both index and columns:

    >>> left, right = df.align(other, join="outer", axis=None)
    >>> left
         A    B   C    D    E
    1  4.0  2.0 NaN  1.0  3.0
    2  9.0  7.0 NaN  6.0  8.0
    3  NaN  NaN NaN  NaN  NaN
    4  NaN  NaN NaN  NaN  NaN
    >>> right
           A      B      C      D   E
    1    NaN    NaN    NaN    NaN NaN
    2   10.0   20.0   30.0   40.0 NaN
    3   60.0   70.0   80.0   90.0 NaN
    4  600.0  700.0  800.0  900.0 NaN

In [407]:
X_train.shape,X_test.shape

((1168, 275), (292, 275))

In [413]:
y_train.columns

Index(['Id', 'SalePrice'], dtype='object')

In [409]:
# 학습 준비
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [417]:
rf=RandomForestRegressor(random_state=42,n_estimators=500)
rf.fit(X_train,y_train['SalePrice'])
pred=rf.predict(X_test)

In [422]:
mse=mean_squared_error(y_test['SalePrice'],pred,squared=False)

C:\Users\pjjeo\anaconda3\Lib\site-packages\sklearn\metrics\_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [426]:
r2= r2_score(y_test['SalePrice'],pred)
r2

0.8935629483411527